@charset "UTF-8";

/*em html é id e em css é # (so pode um elemento)
em html é class = em css é . (pode varios elementos )
*/

body {
    background-color: rgba(7, 155, 69, 0.253);
    font-family: Arial, verdana, sans-serif;
}

h1 {
    color: rgba(9, 153, 69, 0.74);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white ;
}

h2 {
    color: rgba(6, 51, 25, 0.548);
}

.basico {
    color: rgba(47, 60, 129, 0.788);
    font-weight: lighter;
}

.intermediario {
    color: rgba(109, 35, 35, 0.74);
    font-family: italic;
}

.avancado {
    color: rgba(119, 36, 105, 0.705);
    font-weight: initial;
}

p {
    text-align: justify;
}

.destaque {
    background-color: rgba(192, 192, 92, 0.589);
}